<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}SaludData STEM{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.plot.ly/plotly-2.35.2.min.js"></script>
</head>
<body>
<header class="topbar">
    <a class="brand" href="{{ url_for('main.index') }}">
        SaludData <span>STEM</span>
    </a>

    <nav>
        <a href="{{ url_for('main.index') }}">Inicio</a>
        <a href="{{ url_for('main.dashboard') }}">Dashboard</a>
    </nav>
</header>

<main class="container">
    {% block content %}{% endblock %}
</main>

<footer>
    SaludData STEM · Python + Flask · Datos abiertos de Bogotá
</footer>
</body>
</html>